.home{
  position: relative;
  width: 100%;

}
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: aqua;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(1, 163, 163);
}
.title{
 
  width: 99%;
}
.profile{
  margin-left: 22%;
  margin-top: 12%;
  
}
.profile h2{
  font-weight: 500;
 letter-spacing: 5px;
 font-size: 30px;
}
.light_profile_title h1{
  font-size: 90px;
  color: black;
  margin:0px 0px;

}
.dark_profile_title h1{
  font-size: 90px;
  color: white;
  margin: 0px 0px;
}
.plus_icon{
  font-weight: 900;
  margin: 0px;
  position: relative;
  top: 30px;
}

.light_title,.dark_title{
  display: flex;
position: relative;
width: 73%;
}
.light_title h1{
  margin: 0px;
 

}

.rib{
  width: 0%;
  height: 120px;
  background-color: aqua;
  position: absolute;  
  transition: width 0.3s ease-in-out;

}

/* @keyframes rib{
  from{width: 0%;}
  50%{width: 57%;}
  to{width: 0%;}
} */

/*  */
.home img{
    width: 100%;
}
.dark_img,.white_img{
  display: none;
  width: 0%;
  transition: width 3s ease-in-out;
}
.dark_img_active,.white_img_active{
 width: 100%;
 display: block;
}
.title{
    position: absolute;
    top: 0;
}


@media (max-width:600px){
 
  .home{
    width: 100%;
    margin: auto;
  }
  .title{
    width: 100%;
  }
  .profile{
    margin: 0px;
    width: 100%;
    margin-left: 5%;
    margin-top: 30%;
    
  }
  .profile h2{
    font-weight: 500;
   letter-spacing: 5px;
   font-size: 25px;
  }
  .home img{
    height: 100vh;
  
  }
  .dark_profile_title h1{
    font-size: 240%;
    color: white;
    margin: 0px;
  }
  .light_profile_title h1{
    font-size: 240%;
    color: black;
    margin:0px;
  
  }
  .plus_icon{
    font-weight: 900;
    margin: 0px;
    position: relative;
    top: 0px;
  }

  .rib{
    width: 0%;
    height: 50px;
    background-color: aqua;
    position: absolute;  
    transition: width 0.5s ease-in-out;
  
  }

  .light_title,.dark_title{
    display: flex;
  position: relative;
  width: 92%;
  }
}