
.skills{
 width: 70%;
    margin: auto;
   height: 450px;
  
}
.proficiency{
  width: 70%;
  margin: auto;

height: 280px;
}
.heading{
  
  margin: auto;
}
.heading h1{
  text-align: center;
  border-bottom: 2px solid aqua;
  width: 200px;
  margin: auto;
}
.heading1{
 
  margin: auto;
}
.heading1 h1{
  text-align: center;
  border-bottom: 2px solid aqua;
  width: 220px;
  margin: auto;
}
.skills h1{
    text-align: center;
}
/* tech stack */
.light_cards{
    display: grid;
   
    width: 85%;
 
    margin: auto;
  grid-template-columns: 170px 170px 170px 170px 170px;
  grid-template-rows:  170px 170px 170px 170px 170px;

}

.dark_cards{
    display: grid;
 
    width: 85%;
   
    margin: auto;
  grid-template-columns: 170px 170px 170px 170px 170px;
  grid-template-rows:  170px 170px 170px 170px 170px;
}
.dark_cards div{
    border: 2px solid aqua;
}
.light_cards div{
    border: 2px solid aqua;
}
.grid_item {
    border-radius: 10px;
    position: relative;
    padding: 10px;
    font-size: 30px;
    overflow: hidden;
    margin: 20px;
    text-align: center;
    cursor: pointer;
  }
  .grid_item img{
      width: 100%;
  }
  .hide {
    border-radius: 10px;
    position: relative;
    padding: 10px;
    font-size: 30px;
    overflow: hidden;
    margin: 20px;
    text-align: center;
    cursor: pointer;
  }
  .hide img{
      width: 100%;
  }
  .dark_rib{
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0PX;
    border-radius: 10px;
    height: 100%;
    background-color: rgb(5, 75, 75);
    opacity: 0;
    animation: Rib 3s infinite;
    transition: opacity 0.2s ease-in-out;
    display: grid;
    place-items: center;

}
.light_rib{
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0PX;
    border-radius: 10px;
    height: 100%;
    background-color: rgb(15, 199, 199);
    opacity: 0;
    animation: Rib 3s infinite;
    transition: opacity 0.2s ease-in-out;
    display: grid;
    place-items: center;

}
.dark_cards div:hover .light_rib{
  opacity: 1;
}
.light_cards div:hover .dark_rib{
    opacity: 1;
}

.light_rib h2{
    font-size: 18px;
    color: black
    }

.dark_rib h2{
font-size: 18px;
color: white;
}



/* proficiency */

.light_cards_pro{
  display: grid;
 
  width: 85%;

  margin: auto;
grid-template-columns: 170px 170px 170px 170px 170px ;


}

.dark_cards_pro{
  display: grid;

  width: 85%;
 
  margin: auto;
grid-template-columns: 170px 170px 170px 170px 170px;

}
.dark_cards_pro div{
  border: 2px solid aqua;
}
.light_cards_pro div{
  border: 2px solid aqua;
}
.grid_item_pro {
  border-radius: 10px;
  position: relative;
  padding: 10px;
  font-size: 30px;
  overflow: hidden;
  margin: 20px;
  text-align: center;
  cursor: pointer;
}
.grid_item_pro img{
    width: 100%;
}
.hide {
  border-radius: 10px;
  position: relative;
  padding: 10px;
  font-size: 30px;
  overflow: hidden;
  margin: 20px;
  text-align: center;
  cursor: pointer;
}
.hide img{
    width: 100%;
}
.dark_rib_pro{
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0PX;
  border-radius: 10px;
  height: 100%;
  background-color: rgb(5, 75, 75);
  opacity: 0;
  animation: Rib 3s infinite;
  transition: opacity 0.2s ease-in-out;
  display: grid;
  place-items: center;

}
.light_rib_pro{
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0PX;
  border-radius: 10px;
  height: 100%;
  background-color: rgb(15, 199, 199);
  opacity: 0;
  animation: Rib 3s infinite;
  transition: opacity 0.2s ease-in-out;
  display: grid;
  place-items: center;

}
.dark_cards_pro div:hover .light_rib{
opacity: 1;
}
.light_cards_pro div:hover .dark_rib{
  opacity: 1;
}

.light_rib_pro h2{
  font-size: 18px;
  color: black
  }

.dark_rib_pro h2{
font-size: 18px;
color: white;
}



/* @keyframes Rib{
    from {
        width: 0px;
    }
    to{
        width: 100%;
    }
} */

  @media (max-width:600px){
     
    .skills{
        width: 90%;
           margin: auto;
         height: 150vh;
       }
       .proficiency{
         height: 65vh;
         width: 90%;
         margin: auto;
       }
       .hide{
         display: none;
       }
    .light_cards{
        display: grid;
       
        width: 100%;
       
        margin: auto;
      grid-template-columns: 160px 160px ;
      grid-template-rows:  160px 160px ;
    }
    
    .dark_cards{
        display: grid;
       
        width: 100%;
        margin: auto;
      grid-template-columns: 160px 160px ;
      grid-template-rows:  160px 160px ;
    }
    .light_cards_pro{
      display: grid;
     
      width: 100%;
     
      margin: auto;
    grid-template-columns: 160px 160px ;
    grid-template-rows:  160px 160px ;
  }
  
  .dark_cards_pro{
      display: grid;
     
      width: 100%;
      margin: auto;
    grid-template-columns: 160px 160px ;
    grid-template-rows:  160px 160px ;
  }

  .heading1,.heading{
    width: 100%;
    margin: auto;
  }
  .heading1 h1,.heading h1{
    text-align: center;
    border-bottom: 2px solid aqua;
    margin: auto;
  }
  }