.container{
    overflow: hidden;
}
.dark_topbar{
    height: 100%;
    width: 100%;
    background-color: #111111;
    position: fixed;
    top: -200%;
    transition: top 0.3s ease-in-out;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}
.light_topbar{
    height: 100%;
    width: 100%;
    background-color: white;
    position: fixed;
    top: -200%;
    transition: top 0.3s ease-in-out;
    display: flex;
    justify-content: space-between;
}
.list{
    position: absolute;
   

    top: 20%;
    width: 100%;
}
.list h2{
    text-align: center;
    margin-bottom: 50px;
}
.list h2:hover{
    color: aqua;
}

.social{
    position: absolute;
    top: 600px;
    
    width: 150px;
    display: flex;
    justify-content: space-between;
}
a{
  color: gray;
}

.btn{
    
   position: absolute;
    right:20px;
    top: 600px;
    font-size: 40px;
    cursor: pointer;
  z-index: 1;
}

.themeChanger{
    position: absolute;
    left: 0;
}


@media (max-width:600px){

.dark_logo{
    padding: 0px 10px 20px 10px;
    font-size: 50px;
    
   color: black;
   transition: color 0.3s linear;
 }
 .white_logo{
    padding: 0px 10px 20px 20px;

 font-size: 50px;
}
.white_Close_logo{
    padding: 0px 10px;
}
.dark_Close_logo{
    padding: 0px 10px;
   
}

}