
.about{
   
    width: 80%;
    margin: auto;
   
    margin-bottom: 50PX;
}
.about h1{
    margin: 0px 2%;
    font-size: 40px;
}
.info{
    display: flex;
    justify-content: space-between;

}
.info div:nth-child(1){
    width: 45%;
    margin: 2%;
}
.info div p{
    text-align: justify;
    font-size: 20px;
    margin: 0px;
    margin-bottom: 50px;
}
.info div img{
    width: 60%;
    margin-left: 30%;
    border-radius: 100%;
    border: 2px solid aqua;
}


.send_icon:hover{
    background-color: gray;
    animation: change 2s infinite;
}

.dark_buttons,.light_buttons{
    display: flex;
    
    width: 500px;
}
.dark_buttons button{
    margin: 5px 20px;
   
    font-weight: 600;
    text-decoration: none;
   color: aqua;
}
.light_buttons button{
    margin: 5px 20px;
    
    font-weight: 600;
    color: black;
    text-decoration: none;
    
}
a{
    text-decoration: none;
}



@keyframes change {
    from{background-color: gray;}
    50%{background-color: rgb(216, 216, 216);}
    to{background-color: gray;}
}

@media (max-width:600px){

    .about{
        width: 90%;
    }
    .info{
        flex-direction: column;
    }
    .dark_buttons,.light_buttons{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .info div:nth-child(1){
        width: 100%;
       
        display: grid;
        place-items: center;
    }
    .info div p{
       margin-bottom: 50px;
    }
    .info div img{
        width: 80%;
       margin-left: 10%;
        border: 2px solid aqua;
    }
    .light_buttons button,.dark_buttons button{
        width: 90%;
    }
  
}