.dark_box{
    width: 420px;
    height: 450px;
    position: absolute;
    box-shadow: 0 0 10px #001e2d;
    background-color: #001e2d;
    box-sizing: border-box;
    overflow: hidden;
  
    border: 2px solid rgba(0, 0, 0, .5);
    
    margin: 10px;
    
    cursor: pointer;
  
}
.dark_box::before{
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .1);
    transition: 0.5s;
   
}


.dark_box:hover::before{
    left: -50%;
    transform: skewX(-5deg);
}
.dark_box .content{
    border: 2px solid #ffeb3b;
    background-color: #001e2d;
    
    height: 90%;
    margin: 10px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
   
}


.content img{
    width: 70%;
}
.dark_box .content h2{
    margin: 0px;
}

/* light theme */
.light_box{
    width: 420px;
    height: 450px;
    position: absolute;
   
    background-color: rgba(236, 250, 250, 0);
    box-sizing: border-box;
    overflow: hidden;
   color: black;
   border: 1px solid aqua;
    margin: 10px;
    cursor: pointer;
}
.light_box::before{
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .1);
    transition: 0.5s;
}


.light_box:hover::before{
    left: -50%;
    transform: skewX(-5deg);
    background-color: rgb(201, 200, 200);
    box-shadow: 0 0 10px gray;
}
.light_box .content{
    border: 2px solid rgba(0, 0, 0, .5);
    height: 90%;
    margin: 10px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
}
.content img{
    width: 70%;
}
.light_box .content h2{
    margin: 0px;
}



/* .box span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
}

.box span:nth-child(1){
    transform: rotate(0deg);
}
.box span:nth-child(2){
    transform: rotate(90deg);
}
.box span:nth-child(3){
    transform: rotate(180deg);
}
.box span:nth-child(4){
    transform: rotate(270deg);
}

.box span:nth-child(2)::before{
    animation-delay: -2s;
}
.box span:nth-child(4)::before{
    animation-delay: -2s;
} */

/* .box span:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: #0093ff;
    animation: animate 4s linear infinite;
} */


.tech_stack{
    display: flex;
    justify-content: space-between;
}
.tech_stack img{
    width: 30px;
    margin: 5px;
    border: 1px solid red;
}
.github{
    display: flex;
    width: 100px;
    margin:  10px auto;
    cursor: pointer;
}
.github h3{
    margin: 0px 5px;

}

/* 
@keyframes animate{
    0%
    {
        transform: scaleX(0);
        transform-origin: left;
    }
    50%
    {
        transform: scaleX(1);
        transform-origin: left;
    } 
    50.1%
    {
        transform: scaleX(1);
        transform-origin: right;
    } 
    100%
    {
        transform: scaleX(0);
        transform-origin: right;
    }
}
*/
@media (max-width:600px){
    .dark_box{
        width: 80%;
        margin: 20px;
    }
    .light_box{
        width: 80%;
        margin: 20px;
    }
} 