.div{
    position: fixed;
    top: 570px;
    left: 47%;
    display: flex;
    flex-direction: column;
   
}
.mouse{
    font-size: 35px;
}

.arrow{
    font-size: 30px;
    
    position: relative;
    top: -10px;
    animation: moving 1s infinite;
}

@keyframes moving {
    from{
        top:-10px
    }
    to{
        top: 0px;
    }
}
