.navbar 
{
position: fixed;
top: 40px;
}
.navbar div h3{
    transform: rotate(270deg);
    transform-origin: (0,0);
   padding: 30px 20px;
   cursor: pointer;
   text-align: center;
}

.line{
    width: 3px;
    background-color: rgba(0, 255, 255, 0);
    height: 0px;
    position: absolute;
   left: 70px;
   z-index: 1;
   transition: height 0.4s ease-in-out;
}
.navbar div:hover >.line{
    height: 80px;
    background-color:aqua;
}
.white_logo{
    padding: 0px 40px 20px 50px;

 font-size: 50px;
}
.dark_logo{
    padding: 0px 40px 20px 50px;
    font-size: 50px;
    
   color: black;
   transition: color 0.3s linear;
 }
 .dark_logo:hover,.white_logo:hover{
     color: aqua;
 }
 .bar{
     display: none;
 }

 @media (max-width:600px){
  .navbar{
      display: none;
      width: 100%;
  }
  .bar{
      display: block;
      display: flex;
      justify-content: space-between;
  }

  .dark_logo{
    padding: 0px 10px 20px 10px;
    font-size: 50px;
    
   color: black;
   transition: color 0.3s linear;
 }
 .white_logo{
    padding: 0px 10px 20px 10px;

 font-size: 50px;
}
}