.btn{
    position: fixed;
    right: 40px;
    top: 40px;
    font-size: 40px;
    cursor: pointer;
    z-index: 1;
}
@media (max-width:600px){
    
    .btn{
        position: fixed;
        right: 20px;
        top: 580px;
        font-size: 40px;
        cursor: pointer;
        z-index: 1;
    }
    .btn_div{
        display: none;
    }
}